<!-- <script src="alertas.js"></script> -->
<script>

async function fireSweetAlert(idpago)
 {
    const result = await Swal.fire({
        title: 'Estás a punto de borrar un registro de Pago. ',
        showCancelButton: true,
        confirmButtonText: `Confirmar`
    });

    if (result.isConfirmed) {
        {
            window.location = `/pagos/delete/${idpago}`
        }
    };
};

</script>
</body>
</html>